input {
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding-left: 8px;
}

input:active {
  border: 1px solid #4e75ff;
}

button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
}

button:hover {
  background: #6c8cff;
}
